@model IEnumerable<TWSA.Models.Issue>

@{
    ViewData["Title"] = "View Reports";
}

<section class="d-flex flex-column align-items-center justify-content-center" style="width: 60%; height: 100vh; background-color: #ffffff; padding: 20px;">
    <div class="card shadow-sm" style="max-width: 700px; width: 100%; padding: 32px; height: 100% ; max-height: 500px ">
        <h2 class="text-center text-success mb-4">View Reports</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Location</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var report in Model)
                {
                    <tr>
                        <td>@report.Subject</td>
                        <td>@report.Location</td>
                        <td>@report.Category</td>
                        <td>@report.Description</td>
                        <td>@report.ReportDateTime.ToString("yyyy-MM-dd HH:mm")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>